body {
    margin: 0;
    padding: 0;
    min-height: 100%;
    height: 100%;
    background-color: #00274a;
    color: #fff;
    min-width: fit-content;
}

/* HEADER */
header {
    margin-bottom: 16px;
    box-shadow: 2px 0px 5px 0 #fff
}

.site-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #001c38;
}

.brand__section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.brand__section {
    padding: 10px;
}

nav {
    display: flex;
}

nav a, nav form {
    margin: 1em;
    text-decoration: none;
}

/* LOGIN */
content_header-title {
    font-size: 36px;
    line-height: 44px;
    letter-spacing: -.005em;
    font-weight: 600;
    margin: 24px 0;
    border-bottom: 2px solid #fa4141;
}

.login {
    background-color: #00274a;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-signin {
    width: 100%;
    max-width: 400px;
    padding: 40px;
    margin: 0 auto;
    /*border: white 1px solid;*/
    border-radius: 3px;
    background-color: #001c38;
    box-shadow: 8px 8px 16px 0 #fff;
}

.form-signin .form-control {
    box-sizing: border-box;
    padding: 10px;
    font-size: 18px;
}

.form-signin .form-control:focus {
    z-index: 2;
}

.form-signin input[type="text"] {
    margin-bottom: 10px;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
}

